# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

public/2w_rows.xlsx
public/e02e7e46db43485083debef25d1a9fc3.xlsx
public/231c24b407bc47a89f58c739f759a595.xlsx
public/9bdc6c6b907344cd9eb5e2398c83692d.xlsx
